
<div class="container-fluid" menu-item = "About" id="about" top>

    <h1>About<i class = "zuri-icon information size-l align-middle right"></i></h1>

    <div class="row">

        <div class="col-md-6">
            <p>
              ETF DNA is a small <a href = "https://github.com/zurianalytics/etf-dna" target="_blank" class = "link">open source</a> portfolio application, provided completely for free. 
              It was built to help people better visualize and understand their portfolios.
            </p>
            <p>
              The data is extracted using Artificial Intelligence by <a href = "https://zurianalytics.com/" target="_blank" class = "link">ZuriAnalytics</a> and 
              is available to use for other applications on <a href = "https://etf-data.com" target="_blank" class = "link">ETF Data.</a>
            </p>
        </div>
    </div>
</div>